<table style="width: 100%; height: 100%;">
    <tbody>
        <tr>
            <td style="width: 33%;"/>
            <td style="text-align: center;">
                <md-card style="padding-top: 20px;">
                    <div>
                        <div style="margin-bottom: 15px;">
                            <b style="padding-bottom: 15px;">Hardware</b>
                        </div>
                        <img src="/images/hardware_block_diagram.png"/>
                    </div>
                </md-card>
            </td>
            <td style="width: 33%;"/>
            <td style="text-align: center;">
                <md-card style="padding-top: 20px;">
                    <div>
                        <div style="margin-bottom: 15px;">
                            <b style="padding-bottom: 15px;">Software</b>
                        </div>
                        <img src="/images/software_block_diagram_revised.png"/>
                    </div>
                </md-card>
            </td>
            <td style="width: 33%;"/>
        </tr>
    </tbody>
</table>