<div style="background: rgba(255, 255, 255, 0.5); height: 100%">
    <table style="width: 100%; height: 100%;">
        <tbody>
            <tr>
                <td style="white-space: nowrap; padding: 20px; width: 35%;"> 
                    <b style="font-size: 32px; font-family:'Courier New', Courier, monospace">Traffic Stop Watchdog</b>
                </td>
                <td style="width: 30%; text-align: center; font-size: 26px;">
                    <b>{{pageTitle}}</b>
                </td>
                <td style="width: 35%; padding: 0px;">
                    <table style="height: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 100%;"/>
                                <td class="routeLabel" ng-click="go('/home')" >
                                    <div class="routeTextContainer">
                                        <a class="routeText" href="#home">Home</a>
                                    </div>
                                </td>
                                <td class="routeLabel" ng-click="go('/design')">
                                    <div class="routeTextContainer">
                                        <a class="routeText" href="#design">Diagrams</a>
                                    </div>
                                </td>
                                <td class="routeLabel" ng-click="go('/about')">
                                    <div class="routeTextContainer">
                                        <a class="routeText" href="#about">About</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>