<table style="width: 100%; height: 100%;">
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 40%;"/>
                            <td>
                                <img src="/images/tsw.jpg" style="height: 380px; width: 540px; border-radius: 15px;"/>
                            </td>
                            <td style="width: 20%;"/>
                            <td style="vertical-align: top;">
                                <md-card style="width: 540px; height: 380px;">
                                    <p style="text-indent: 35px; font-size: 16px; margin: 0px;">
                                        Law enforcement personnel work in a highly reactive environment that demands focus and attention to avoid life-threatening situations. Current systems like body-mounted cameras and dashcams often leave much of the scene out of view or out of focus while lacking support for live data communication. Our system fills a current gap in the information recorded during interactions between police officers and citizens during traffic stops or other exchanges within the vicinity of a police cruiser. An onboard camera tracks the law enforcement officer to record only the information vital to the scenario. A battery-operated handheld device provides the officer with an interface for initializing and engaging with the system.
                                    </p>
                                    <p style="font-size: 16px; margin-bottom: 0px;">
                                        Special thanks to Dr. Chung Yong Chan for mentoring this project.
                                    </p>
                                </md-card>
                            </td>
                            <td style="width: 40%;"/>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 25%;"/>
                            <td style="text-align: center;">
                                <md-card class="memberCard">
                                    <div>
                                        <img src="/assets/images/jordi.jpg" class="memberImage"/>
                                        <div style="margin-bottom: 15px;">
                                            <div>
                                                <b style="padding-bottom: 15px;">Jordi Niebla</b>
                                            </div>                                    
                                            <b style="white-space: nowrap;">Electrical Engineer</b>
                                        </div>
                                        <div style="white-space: nowrap;">Handheld Device</div>
                                        <div style="white-space: nowrap;">Keyword Recognition</div>
                                        <div style="white-space: nowrap;">Officer Interface</div>
                                    </div>
                                </md-card>
                            </td>
                            <td style="width: 25%;"/>
                            <td style="text-align: center;">
                                <md-card class="memberCard">
                                    <div>
                                        <img src="/assets/images/felipe.jpg" class="memberImage"/>
                                        <div style="margin-bottom: 15px;">
                                            <div>
                                                <b style="padding-bottom: 15px;">Felipe Solanet</b>
                                            </div>
                                            <b style="white-space: nowrap;">Computer Engineer</b>
                                        </div>
                                        <div style="white-space: nowrap;">Camera Integration</div>
                                        <div style="white-space: nowrap;">Officer Image Processing</div>
                                        <div style="white-space: nowrap;">Device Communication System</div>
                                    </div>
                                </md-card>
                            </td>
                            <td style="width: 25%;"/>
                            <td style="text-align: center;">
                                <md-card class="memberCard">
                                    <div>
                                        <img src="/assets/images/mike.jpg" class="memberImage"/>
                                        <div style="margin-bottom: 15px;">
                                            <div>
                                                <b style="padding-bottom: 15px;">Michael Gendreau</b>
                                            </div>
                                            <b style="white-space: nowrap;">Electrical Engineer</b>
                                        </div>
                                        <div style="white-space: nowrap;">Motor Control</div>
                                        <div style="white-space: nowrap;">Enclosure Design + Assembly</div>
                                        <div style="white-space: nowrap;">System Power Regulation</div>
                                    </div>
                                </md-card>
                            </td>
                            <td style="width: 25%;"/>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody> 
</table>