<table style="margin: 100px auto 0px auto;">
    <tbody>
        <tr>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/divide_and_conquer.pdf" class="resourceLink">Divide & Conquer</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/sd1_documentation.pdf" class="resourceLink">Senior Design 1 Documentation</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/final_documentation.pdf" class="resourceLink">Final Documentation</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/conference_paper.pdf" class="resourceLink">Conference Paper</a>
                </md-card>
            </td>
        </tr>
        <tr>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/divide_and_conquer.pdf" class="resourceLink">Cumulative Design Review</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="https://www.youtube.com/watch?v=-jfMuGQ14IE" class="resourceLink">Mid-Term Demo Video</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/final_documentation.pdf" class="resourceLink">Final Demo Video</a>
                </md-card>
            </td>
            <td>
                <md-card class="resourceCard">
                    <a href="/assets/documents/conference_paper.pdf" class="resourceLink">Showcase Video</a>
                </md-card>
            </td>
        </tr>
    </tbody>
</table>